/* card
##############################*/

.card.merlin-card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);

    > .card-header,
    > .card-footer {
        border-color: $soft-white;
        background-color: $white;
        color: $blue-gray;
        padding: 15px;
    }

    > .card-body {
        padding: 0 20px 20px 20px;
        p:last-child {
            @extend .mb-0;
        }

        .card-icon {
            background-color: $gray-100;
            padding: 16px;
            @media (max-width: 1400px) {
                padding: 4px;
            }
        }

        > .card-title {
            padding: 20px 0 15px 0;
            margin-bottom: 0.875rem;
            font-weight: 600;
            @include font-size(1.375rem);
            span {
                color: $light-blue;
                font-weight: 400;
                @include font-size(0.875rem);
            }
            a:not(.card-title-link) {
                @extend .ps-3;
            }
            a:not(.card-title-link),
            form {
                @extend .float-end;
            }
            form button.btn {
                @extend .p-0;
                @extend .mb-2;
            }
        }
        > .card-title:after {
            content: ' | ';
            font-weight: 400;
            color: $light-blue;
        }
        .link-list-group {
            form button.btn,
            a {
                margin-left: 0.3rem;
                margin-right: 0.3rem;
            }

            a:first-of-type {
                flex: 1 1 auto;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}
