.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo {
    // img {
    //     max-height: 126px;
    //     margin-right: 6px;
    // }
    span {
        font-weight: 700;
        color: $orange;
        @include font-size(1.625rem);
    }
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background: linear-gradient(-90deg, $gray-600 0%, $gray-800 100%);
    padding-left: 20px;
}


/* toggle sidebar button */

.header .toggle-sidebar-btn {
    padding-left: 10px;
    cursor: pointer;
    color: $orange;
    @include font-size(2rem);
    .search-bar {
        min-width: 360px;
        padding: 0 20px;
    }
}


/* header nav */

.header-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-icon {
        font-size: 20px;
    }
    .nav-profile img {
        max-height: 36px;
    }
    .nav-profile span {
        font-weight: 600;
        @include font-size(0.875);
    }
    .profile {
        min-width: 240px;
        padding-bottom: 0;
        .dropdown-header {
            h6 {
                margin-bottom: 0;
                font-weight: 600;
                color: $dropdown-element;
                @include font-size(1.125);
            }
            span {
                @include font-size(0.875);
            }
        }
        .dropdown-item {
            padding: 10px 15px;
            transition: 0.3s;
            @include font-size(0.875);
            &:hover {
                background-color: $nav-hover-bg;
            }
            i {
                margin-right: 10px;
                line-height: 0;
                @include font-size(1.125);
            }
        }
    }
}